<!DOCTYPE html>
<html>
  <head>
    <title>Quiz1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice.present? %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert"><%= alert %></p>
    <% end %>
    
    <div class="main">
      <%= yield %>
    </div>

    <footer>
      <div class="footer-div">
        <% if user_signed_in? %>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <button>Logout</button>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path do %>
            <button>Log In</button>
          <% end %>
        <% end %>
      </div>
    </footer>
  </body>
</html>
